<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Smart Meal Helper{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZY2PX2G3GY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-ZY2PX2G3GY');
    </script>
</head>
<body>
    <nav class="nav">
        <a href="{{ url_for('index') }}" class="nav-brand">Smart Meal Analyzer</a>
        <a href="{{ url_for('tool_view') }}" class="nav-button">Meal Tool</a>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>
